Repository eser/golang-service-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: govulncheck, kebab-case-files-only, run-tests

govulncheck:
  name: govulncheck
  entry: govulncheck ./...
  language: golang
  pass_filenames: false

kebab-case-files-only:
  name: kebab-case files only
  entry: filenames must be kebab-case only
  language: fail

run-tests:
  name: run tests
  description: Run tests using Go's built-in test runner.
  entry: make test-ci
  pass_filenames: false
  language: system

fix(configfx): refactor ConfigLoader methods, update README
  pkg/bliss/configfx/README.md
  pkg/bliss/configfx/loader.go
  pkg/bliss/configfx/mod-fx.go
  pkg/bliss/configfx/resources.go
  pkg/bliss/datafx/mod-fx.go
  pkg/bliss/httpfx/README.md
  pkg/bliss/httpfx/http-service.go
  pkg/bliss/httpfx/mod-fx.go
  pkg/bliss/httpfx/primitives.go
  pkg/bliss/logfx/README.md
  pkg/bliss/logfx/handler.go
  pkg/bliss/results/README.md
Due: govulncheck, run-tests

feat: restructure routes and repositories
  .golangci.yaml
  .vscode/extensions.json
  pkg/app/config/config.go
  pkg/app/data/repositories/user.go
  pkg/app/mod.go
  pkg/app/routes/home/index.go
  pkg/app/routes/protected/index.go
  pkg/bliss/configfx/README.md
  pkg/bliss/datafx/mod-fx.go
  pkg/bliss/datafx/provider.go
  pkg/bliss/datafx/repository.go
  pkg/bliss/datafx/unit-of-work.go
  pkg/bliss/httpfx/README.md
  pkg/bliss/httpfx/router.go
  pkg/bliss/logfx/README.md
  pkg/bliss/logfx/colors.go
  pkg/bliss/results/README.md
Due: govulncheck, run-tests

refactor: reorganize user management
  .vscode/settings.json
  Makefile
  go.mod
  go.sum
  pkg/app/data/models/user.go
  pkg/app/data/repositories/user.go
  pkg/app/storage/db/db.go
  pkg/app/storage/db/dmls.sql.go
  pkg/app/storage/db/models.go
  pkg/app/storage/db/sql/ddls.sql
  pkg/app/storage/db/sql/dmls.sql
  pkg/app/storage/repositories/user.go
  pkg/app/storage/sqlc.yaml
  pkg/app/storage/tools.go
  pkg/bliss/datafx/repository.go
Due: govulncheck, run-tests

chore: update .air.toml, .gitignore, and Makefile for new tmp directory structure
  .air.toml
  .gitignore
  Makefile
  api/.gitkeep
  api/openapi-spec/.gitkeep
  deployments/api/bruno.json
  deployments/api/environments/development.bru
  deployments/api/health-check.bru
  dist/.gitkeep
Due: run-tests

feat: add test-api target to Makefile
  Makefile
Due: none

feat(makefile): add init and generate targets, improve dev target fallback
  Makefile
  README.md
Due: none

feat: add monitoring and logging support with Prometheus, Grafana, Loki, and Fluentd
  .pre-commit-config.yaml
  Makefile
  deployments/compose.yml
  deployments/resources/fluentd/Dockerfile
  deployments/resources/fluentd/fluentd.conf
  deployments/resources/grafana/dashboards/main.json
  deployments/resources/grafana/provisioning/dashboards/dashboards.yaml
  deployments/resources/grafana/provisioning/datasources/loki.yaml
  deployments/resources/grafana/provisioning/datasources/prometheus.yaml
  deployments/resources/loki/local-config.yaml
  deployments/resources/prometheus/prometheus.yml
Due: kebab-case-files-only, run-tests

feat(metrics): integrate Prometheus for HTTP request metrics
  .env
  .golangci.yaml
  deployments/compose.yml
  deployments/resources/fluentd/fluentd.conf
  go.mod
  go.sum
  pkg/app/mod-fx.go
  pkg/app/storage/repositories/user.go
  pkg/bliss/config.go
  pkg/bliss/configfx/envparser/envparser.go
  pkg/bliss/configfx/envparser/envparser_test.go
  pkg/bliss/configfx/jsonparser/jsonparser.go
  pkg/bliss/configfx/jsonparser/jsonparser_test.go
  pkg/bliss/httpfx/context.go
  pkg/bliss/httpfx/http-service.go
  pkg/bliss/httpfx/metrics.go
  pkg/bliss/httpfx/middlewares/metrics-middleware.go
  pkg/bliss/httpfx/mod-fx.go
  pkg/bliss/httpfx/modules/healthcheck/mod-fx.go
  pkg/bliss/httpfx/modules/openapi/mod-fx.go
  pkg/bliss/httpfx/uris/uris.go
  pkg/bliss/metricsfx/mod-fx.go
  pkg/bliss/metricsfx/provider.go
  pkg/bliss/mod-fx.go
Due: govulncheck, run-tests

refactor(structure): rename broadcast service modules to sample
  .github/copilot-instructions.md
  .vscode/launch.json
  Makefile
  cmd/broadcasthttp/main.go
  cmd/broadcastsvc/main.go
  cmd/samplehttp/main.go
  cmd/samplesvc/main.go
  pkg/samplehttp/config.go
  pkg/samplehttp/http.go
  pkg/samplehttp/main.go
  pkg/samplesvc/config.go
  pkg/samplesvc/grpc.go
  pkg/samplesvc/main.go
Due: govulncheck, run-tests

feat: add SQLC generated database code for sample services
  pkg/samplehttp/data/db.go
  pkg/samplehttp/data/dmls.sql.go
  pkg/samplehttp/data/models.go
  pkg/samplehttp/data/querier.go
  pkg/samplehttp/ddls.sql
  pkg/samplehttp/dmls.sql
  pkg/samplehttp/main.go
  pkg/samplesvc/data/db.go
  pkg/samplesvc/data/dmls.sql.go
  pkg/samplesvc/data/models.go
  pkg/samplesvc/data/querier.go
  pkg/samplesvc/ddls.sql
  pkg/samplesvc/dmls.sql
  pkg/samplesvc/main.go
  sqlc.yaml
Due: govulncheck, run-tests

feat(service): add ChannelService with CRUD operations
  pkg/samplehttp/channel-service.go
  pkg/samplehttp/http.go
  pkg/samplesvc/channel-service.go
  pkg/samplesvc/grpc.go
Due: govulncheck, run-tests

refactor!: replace 'identitysvc' with 'samplehttp' across codebase
  .github/copilot-instructions.md
  .vscode/settings.json
  Makefile
  README.md
  ops/docker/Dockerfile
  ops/docker/compose.production.yml
  ops/docker/compose.yml
  ops/docker/resources/prometheus/prometheus.yml
Due: kebab-case-files-only, run-tests

feat: add configurable modules for health check, OpenAPI, and profiling
  pkg/bliss/httpfx/config.go
  pkg/bliss/httpfx/modules/healthcheck/healthcheck.go
  pkg/bliss/httpfx/modules/openapi/openapi.go
  pkg/bliss/httpfx/modules/profiling/profiling.go
  pkg/samplehttp/main.go
Due: govulncheck, run-tests

docs: update README to rename 'deployment' directory to 'ops'
  README.md
Due: none

refactor: removed kreya.
  Makefile
  README.md
  ops/api-tests/api-tests.krproj
  ops/api-tests/development.krenv
  ops/api-tests/production.krenv
Due: none

feat: update environment variable management and refactor byte handling
  .env
  ops/deployment/fly.toml
  pkg/bliss/configfx/README.md
  pkg/bliss/httpfx/middlewares/auth-middleware.go
  pkg/bliss/httpfx/middlewares/resolve-address-middleware.go
  pkg/bliss/httpfx/results.go
  pkg/samplehttp/http.go
Due: govulncheck, run-tests

chore(dependencies): update golang to 1.23.4 and bump dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

feat: added eserlivesvc with users sample
  .gitignore
  .journal
  Makefile
  cmd/eserlivesvc/main.go
  go.mod
  go.sum
  pkg/eserlivesvc/data/db.go
  pkg/eserlivesvc/data/dmls.sql.go
  pkg/eserlivesvc/data/models.go
  pkg/eserlivesvc/data/querier.go
  pkg/eserlivesvc/ddls.sql
  pkg/eserlivesvc/dmls.sql
  pkg/eserlivesvc/entities/users/http.go
  pkg/eserlivesvc/entities/users/service.go
  pkg/eserlivesvc/main.go
  pkg/eserlivesvc/shared/config.go
  pkg/eserlivesvc/shared/cursor.go
  sqlc.yaml
Due: govulncheck, run-tests

feat: refactor configuration management and update data handling
  README.md
  cmd/migrate/main.go
  pkg/bliss/configfx/README.md
  pkg/bliss/configfx/configfx.go
  pkg/bliss/configfx/jsonparser/jsonparser.go
  pkg/bliss/configfx/manager-resources.go
  pkg/bliss/configfx/manager.go
  pkg/bliss/configfx/manager_test.go
  pkg/bliss/configfx/types.go
  pkg/bliss/datafx/datafx.go
  pkg/bliss/datafx/manager-db.go
  pkg/bliss/datafx/manager.go
  pkg/bliss/datafx/provider-db.go
  pkg/bliss/datafx/repository.go
  pkg/bliss/datafx/types.go
  pkg/bliss/datafx/unit-of-work.go
  pkg/bliss/lib/sql.go
  pkg/eserlivesvc/data/dmls.sql.go
  pkg/eserlivesvc/data/models.go
  pkg/eserlivesvc/data/querier.go
  pkg/eserlivesvc/entities/users/http.go
  pkg/eserlivesvc/entities/users/service.go
  pkg/samplehttp/channel-service.go
  pkg/samplehttp/http.go
  pkg/samplehttp/main.go
  pkg/samplesvc/channel-service.go
  pkg/samplesvc/grpc.go
  sqlc.yaml
Due: govulncheck, run-tests

chore: removed protobuf files due to simplicity
  .github/ARCHITECTURE.md
  .github/copilot-instructions.md
  .golangci.yaml
  pkg/samplesvc/adapters/grpc/generated/broadcast.pb.go
  pkg/samplesvc/adapters/grpc/generated/broadcast_grpc.pb.go
  pkg/samplesvc/adapters/grpc/grpc.go
  pkg/samplesvc/adapters/http/http.go
  specs/proto/broadcast/broadcast.proto
Due: govulncheck, kebab-case-files-only, run-tests

chore: update .gitignore and refactor README for clarity
  .gitignore
  .journal
  pkg/bliss/di/README.md
  pkg/samplesvc/main.di.go
  pkg/samplesvc/main.go
Due: govulncheck, kebab-case-files-only, run-tests

fix: removed di register functions.
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  cmd/migrate/main.go.old
  go.mod
  pkg/bliss/configfx/README.md
  pkg/bliss/configfx/configfx.go
  pkg/bliss/datafx/datafx.go
  pkg/bliss/datafx/registry.go
  pkg/bliss/datafx/sqldatasource-std.go
  pkg/bliss/datafx/unit-of-work.go
  pkg/bliss/di/container.go
  pkg/bliss/di/di.go
  pkg/bliss/di/di_test.go
  pkg/bliss/grpcfx/grpc-service.go
  pkg/bliss/grpcfx/grpcfx.go
  pkg/bliss/grpcfx/metrics.go
  pkg/bliss/httpfx/README.md
  pkg/bliss/httpfx/context.go
  pkg/bliss/httpfx/http-service.go
  pkg/bliss/httpfx/httpfx.go
  pkg/bliss/httpfx/metrics.go
  pkg/bliss/httpfx/modules/healthcheck/healthcheck.go
  pkg/bliss/httpfx/modules/openapi/openapi.go
  pkg/bliss/httpfx/modules/openapi/spec-generator.go
  pkg/bliss/httpfx/modules/profiling/profiling.go
  pkg/bliss/httpfx/result.go
  pkg/bliss/httpfx/results.go
  pkg/bliss/httpfx/router.go
  pkg/bliss/httpfx/uris/common-path_test.go
  pkg/bliss/logfx/README.md
  pkg/bliss/logfx/logfx.go
  pkg/bliss/logfx/logger.go
  pkg/bliss/logfx/logger_test.go
  pkg/bliss/metricsfx/metricsfx.go
  pkg/bliss/metricsfx/provider.go
  pkg/bliss/results/define.go
  pkg/bliss/results/result.go
  pkg/samplesvc/adapters/http/http.go
  pkg/samplesvc/main.go
Due: govulncheck, run-tests

feat: added makefile help.
  Makefile
  pkg/bliss/datafx/sqldatasource-std.go
  pkg/bliss/di/container.go
  pkg/bliss/metricsfx/provider.go
  pkg/samplesvc/main.go
Due: govulncheck, run-tests

feat: added tenant.
  pkg/samplesvc/business/tenant/service.go
  pkg/samplesvc/business/tenant/types.go
Due: govulncheck, run-tests

chore: minor boilerplate arrangements.
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/workflows/integrity.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  etc/data/migrations/0001_create_channels.sql
  etc/data/queries/channels.sql
  ops/docker/compose.yml
  ops/docker/resources/loki/local_config.yaml
  ops/load_tests/definitions/broadcast.proto
  ops/load_tests/go_grpc.js
  ops/load_tests/go_http.js
  pkg/samplesvc/adapters/grpc/grpc.go
  pkg/samplesvc/adapters/http/http.go
  pkg/samplesvc/adapters/storage/channel-repository.go
  pkg/samplesvc/adapters/storage/channels.sql.go
  pkg/samplesvc/adapters/storage/db.go
  pkg/samplesvc/business/channel/service.go
  sqlc.yaml
Due: govulncheck, kebab-case-files-only, run-tests

refactor: restructure application context and service initialization
  .vscode/settings.json
  cmd/migrate/main.go
  cmd/migrate/main.go.old
  cmd/samplesvc/main.go
  go.mod
  go.sum
  pkg/samplesvc/adapters/appcontext/appcontext.go
  pkg/samplesvc/adapters/appcontext/config.go
  pkg/samplesvc/adapters/http/http.go
  pkg/samplesvc/main.go
Due: govulncheck, run-tests

chore(deps): update dependencies and migrate configuration
  .github/copilot-instructions.md
  README.md
  cmd/migrate/main.go
  go.mod
  go.sum
Due: govulncheck, run-tests

chore: Update configuration and Makefile for improved project setup
  Makefile
  README.md
  cmd/serve/main.go
  config.json
Due: govulncheck, run-tests

chore: Update Docker and Makefile configurations for improved service management
  Makefile
  ops/docker/Dockerfile
  ops/docker/compose.production.yml
  ops/docker/compose.yml
Due: kebab-case-files-only

ci: add sh and cat to production image
  ops/docker/Dockerfile
Due: kebab-case-files-only

revert: removed sh and cat to production image
  ops/docker/Dockerfile
Due: kebab-case-files-only

deps: update Go version to 1.24.2 in workflow, tool versions, and go.mod
  .github/workflows/integrity.yml
  .tool-versions
  go.mod
Due: none

deps: update Go version to 1.24.2 in workflow, tool versions, and go.mod (#52)
  .github/workflows/integrity.yml
  .tool-versions
  go.mod
Due: none

Path conditions:
  govulncheck: any of: \.go$
  kebab-case-files-only: any of: (?!\_test\.go$)[^a-z0-9.\/\[\]@-], but not: (?x)^(
  .github/.*|
  Dockerfile|
  LICENSE|
  Makefile|
  README.md|
  pkg/bliss/configfx/README.md|
  pkg/bliss/datafx/README.md|
  pkg/bliss/httpfx/README.md|
  pkg/bliss/lib/README.md|
  pkg/bliss/logfx/README.md|
  pkg/bliss/results/README.md|
  pkg/bliss/README.md|
)$

  run-tests: any of: \.go$, \.json$
